.everything {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: #8802a3;
    padding: 30px;
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    transition: transform 0.3s ease;
}

li:hover {
    transform: scale(1.2);
}

ul {
    display: flex;
    gap: 40px;
    padding: 20px;
    background-color: #000000;
    justify-content: center;
}

.dashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    
}

body {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

h2 {
    margin-bottom: 40px;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}


a {
    text-decoration: none;
}

body {
    height: 100vh;
    background: #1300ba;
    background: radial-gradient(circle, rgba(19, 0, 186, 1) 0%, rgba(156, 45, 196, 1) 50%);
    justify-content: center;
    align-items: center;
    display: flex;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

button {
    background: none;
    border: none;
    transition: transform 0.3s ease;
}

.buttons-for-contact {
    display: flex;
    gap: 30px;

}

@media (min-width: 320px) and (max-width: 480px) {

    .dashboard {
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
    }

    .dashboard-items a {
        font-size: 11px;
    }

    .Home {
        margin-left: 5px;
    }

    .product-cards {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        padding-top: 60px;
    }

    ul {
        display: flex;
        gap: 40px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .dashboard {
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
    }

    .dashboard-items a {
        font-size: 11px;
    }

    .product-cards {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        padding-top: 60px;
    }

    ul {
        display: flex;
        gap: 40px;
    }

}